{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mt-4 mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mb-4" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account?
                <a class="ml-2" href="#">Sign In Now</a>
            </small>
        </div>
    </div>
{% endblock main_content %}
