<!-- orders/order_detail.html -->
{% extends 'base/base.html' %}

{% block content %}
<h1>Order {{ order.id }}</h1>
<p>Supermarket: {{ order.supermarket_name }}</p>
<p>Status: {{ order.status }}</p>
<p>Created by: {{ order.created_by }}</p>

<h2>Order Items</h2>
<ul>
    {% for item in order_items %}
        <li>{{ item.quantity }} of {{ item.product.name }}</li>
    {% endfor %}
</ul>

<a href="{% url 'add_order_item' order.id %}">Add Item</a>
{% if request.user.is_manager and order.status == 'Pending' %}
<a href="{% url 'approve_order' order.id %}">Approve Order</a>
{% endif %}
{% endblock %}