{% extends "base/base.html" %}

{% block content %}

<div class="container mt-4 text-center">
    <a href="{% url 'orders:create_order' %}" class="btn btn-secondary mb-2">Create New Order</a>
    <h2 class="text-center my-4">Orders List</h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-light table-striped table-hover text-center">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Supermarket Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Approved By</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.supermarket_name }}</td>
                    <td>{{ order.date|date:"Y-m-d H:i" }}</td>
                    <td>
                        <span class="badge {% if order.status == 'Pending' %}bg-warning{% elif order.status == 'Approved' %}bg-primary{% else %}bg-success{% endif %}">
                            {{ order.status }}
                        </span>
                    </td>
                    <td>{{ order.created_by.username }}</td>
                    <td>{{ order.approved_by.username|default:"Not Approved" }}</td>
                    <td class="d-flex justify-content-around">
                        <a href="{% url 'orders:add_order_item' order.id %}" class="btn btn-sm btn-outline-primary">Update</a>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Details</a>
                        <a href="{%url 'orders:delete_order' order.id %}" class="btn btn-sm btn-close" type="button" aria-label="close" ></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">No orders found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

