/*general styles*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
    color: #333;
}


/*main container*/
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*headings*/
h2 {
    color: #333;
    font-weight: bold;
}


/*tables*/
.table {
    background-color: white;
    color: #333;
    border-radius: 5px;
    overflow: hidden;
}


.table thead {
    background-color: #f8f9fa; 
    color: #333;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f1f1f1; 

}


/*borders*/
.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
}

/*buttons*/
.btn {
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 12px;
    transition: 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}

/*specific button colors*/
.btn-info {
    background-color: #17a2b8; 
    border-color: #17a2b8;
    color: white;
}

.btn-success {
    background-color: #28a745; 
    border-color: #28a745;
    color: white;
}

.btn-danger {
    background-color: #fd7e14; 
    border-color: #fd7e14;
    color: white;
}

/*search input*/
.search-box {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
}

/*responsive*/
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}
